/* RESET RULES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

/* NAVBAR  */

.nav {
  padding: 20px;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.active {
  color: blue;
  text-decoration: underline;
}

/* HOMEPAGE  */

.homepage {
  text-align: center;
  display: flex;
}

.homepage_section {
  flex-grow: 1;
}


/* FOOTER  */

.footer {
  padding: 2rem;
  background-color: darkgray;
  color: white;
  margin: auto;
}

/* NOT FOUND */

.not_found {
  padding: 20px;
  text-align: center;
  background-color: red;
}